USE [master]
GO
/****** Object:  StoredProcedure [dbo].[sp_GenerateBillingCNG_Final]    Script Date: 09/01/2026 09:11:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SP_SM3AGAcalc]
AS
BEGIN
    SET NOCOUNT ON;

    -- 1. Inisialisasi Variabel statis
    DECLARE @LWC FLOAT = 10;         
    DECLARE @CO2 FLOAT = 0.8477;     
    DECLARE @N2 FLOAT = 0.7632;      
    DECLARE @SG FLOAT = 0.5841;      
    DECLARE @T_Awal FLOAT = 27;      
    DECLARE @T_Akhir FLOAT = 32;     
    
    -- Parameter Konstanta Fisika
    DECLARE @P_Base FLOAT = 1.01325; 
    DECLARE @T_Base FLOAT = 30.0;    
    DECLARE @T_Std FLOAT = 20.0;     
    DECLARE @Faktor_FPV FLOAT = 0.00175;

    -- 2. Proses Sinkronisasi menggunakan MERGE
    MERGE dbo.t_finalresult AS target
    USING (
        SELECT 
            id_referensi, 
            customer_id, 
            kode_tabung, 
            tanggal_kirim, 
            tanggal_ambil, 
            isi_awal, 
            isi_akhir, 
            rupiah_pjbg,
            -- Penamaan Alias disesuaikan dengan SP Awal Anda
            ROUND(1 + (isi_awal * @Faktor_FPV), 4) AS FPV2_Awal,
            ROUND(1 + (isi_akhir * @Faktor_FPV), 4) AS FPV2_Akhir,
            
            ROUND(((@LWC / 1000.0) * (isi_awal + @P_Base) / @P_Base) * ((273.15 + @T_Base) / (273.15 + @T_Std)) * (1 + (isi_awal * @Faktor_FPV)), 2) AS Vol_Awal_Sm3,
            ROUND(((@LWC / 1000.0) * (isi_akhir + @P_Base) / @P_Base) * ((273.15 + @T_Base) / (273.15 + @T_Std)) * (1 + (isi_akhir * @Faktor_FPV)), 2) AS Vol_Akhir_Sm3
        FROM dbo.vCraddle_final
    ) AS source
    ON (target.id_referensi = source.id_referensi)

    WHEN MATCHED THEN
        UPDATE SET 
            target.isi_awal = source.isi_awal,
            target.isi_akhir = source.isi_akhir,
            target.fpv2_awal = source.FPV2_Awal,
            target.fpv2_akhir = source.FPV2_Akhir,
            target.vol_awal_sm3 = source.Vol_Awal_Sm3,
            target.vol_akhir_sm3 = source.Vol_Akhir_Sm3,
            target.volume_total_sm3 = ROUND(source.Vol_Awal_Sm3 - source.Vol_Akhir_Sm3, 2),
            target.total_tagihan_idr = ROUND((source.Vol_Awal_Sm3 - source.Vol_Akhir_Sm3) * source.rupiah_pjbg, 0),
            target.last_sync = GETDATE()

    WHEN NOT MATCHED THEN
        INSERT (
            id_referensi, customer_id, kode_tabung, tanggal_kirim, tanggal_ambil, 
            isi_awal, isi_akhir, 
            co2, n2, specific_gravity, t_awal, t_akhir,
            fpv2_awal, fpv2_akhir, vol_awal_sm3, vol_akhir_sm3, 
            volume_total_sm3, harga_satuan, total_tagihan_idr
        )
        VALUES (
            source.id_referensi, source.customer_id, source.kode_tabung, source.tanggal_kirim, source.tanggal_ambil, 
            source.isi_awal, source.isi_akhir, 
            @CO2, @N2, @SG, @T_Awal, @T_Akhir,
            source.FPV2_Awal, source.FPV2_Akhir, source.Vol_Awal_Sm3, source.Vol_Akhir_Sm3, 
            ROUND(source.Vol_Awal_Sm3 - source.Vol_Akhir_Sm3, 2), source.rupiah_pjbg, ROUND((source.Vol_Awal_Sm3 - source.Vol_Akhir_Sm3) * source.rupiah_pjbg, 0)
        );

    PRINT 'Sync Berhasil: Penamaan kolom sesuai standar AGA-8 Excel.';
END
