USE [master]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER TRIGGER [dbo].[trg_AfterInsertCraddle]
ON [dbo].[t_pengiriman_craddle] -- tabel driver input data
AFTER INSERT, UPDATE        
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Memanggil SP mesin hitung yang sudah kita buat sebelumnya
    EXEC [dbo].[sp_GenerateBillingCNG_Final];
END
